
header {
    text-align: center;
}

header h3 {
    margin-top: 50px;
    margin-bottom: 2px;
}

.jump-section p {
    margin-right: 20px;
}

#pi-digits-list {
    font-size: 24px;
    font-family: monospace;
    resize: none;
}